* {
    font-family: "Noto Sans KR", sans-serif;

}

a {
    text-decoration-line: none;
}

.container {
    display: flex;
    flex-direction: column;
    /*
    
    flex-wrap:wrap;
    position:relative;
    overflow: hidden;
    */
    padding: 10rem 10rem 0rem 10rem;

}

.container2 {
    display: flex;
    flex-direction: row;




    padding: 0rem 10rem 10rem 10rem;

}




.logo {
    display: inline-block;
    /* inline: 전후 줄바꿈없이 다른 엘리멘트들과 나란히 배치 -block: 한줄 차지 */
    font-size: 5rem;
    /*html의 font-size속성값을 따름 즉 1rem = 16px*5*/
    padding: 1rem 1rem 1rem 1rem;
}

.box {
    /* box-sizing: :border-box; */
    max-width: 30%;
    padding: 10px;
}

.profile {
    width: 100%;
    height: 100%;

    border-radius: 20%;
    object-fit: contain;

}